{% include 'includes/layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Тариф №1. <span class="text-muted">Наиболее покупаемый.</span>
                    </h2>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Pharetra massa massa ultricies mi. Velit laoreet id
                        donec ultrices. Est sit amet facilisis magna etiam. Cras pulvinar mattis nunc sed blandit libero
                        volutpat sed cras. Mattis nunc sed blandit libero volutpat sed cras ornare. Dis parturient
                        montes nascetur ridiculus mus mauris vitae ultricies leo. Nullam non nisi est sit amet. Donec
                        pretium vulputate sapien nec sagittis aliquam. Ultrices tincidunt arcu non sodales.
                    </p>

                    <h2 class="featurette-heading">Тариф №2. <span class="text-muted">Самый дорогой.</span>
                    </h2>


                    <p class="lead">
                        Risus pretium quam vulputate dignissim suspendisse in est ante. Amet consectetur adipiscing elit
                        duis tristique sollicitudin. Ultricies tristique nulla aliquet enim tortor. Vivamus arcu felis
                        bibendum ut tristique et egestas quis ipsum. Nulla pharetra diam sit amet. Risus in hendrerit
                        gravida rutrum quisque non tellus orci. Ornare arcu dui vivamus arcu felis bibendum ut
                        tristique. Leo urna molestie at elementum eu facilisis sed odio morbi. Id aliquet risus feugiat
                        in ante metus dictum at. Nunc sed id semper risus. Lectus vestibulum mattis ullamcorper velit
                        sed. Sit amet mauris commodo quis imperdiet. Purus non enim praesent elementum. Purus in mollis
                        nunc sed id. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Sem viverra
                        aliquet eget sit amet tellus cras adipiscing. Leo in vitae turpis massa sed elementum tempus.
                        Netus et malesuada fames ac turpis.
                    </p>

                </div>
                <div class="col-md-5">
                    <img
                            src="{{ url_for('static', path='/images/price.png') }}"
                            alt="triangle with all three sides equal"
                            height="500px"
                            width="500px"/>
                </div>
            </div>
        </div>

    </div>
</div>