{% include 'includes/layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Регистрация нового пользователя
        </div>
        <div class="card-body">
            {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}

            </div>
            {% endif %}

            <form method="post" action="/auth/register">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" required placeholder="example@mail.com">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Логин</label>
                        <input type="username" class="form-control" name="user_name" required placeholder="Ваш логин">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Имя</label>
                        <input type="text" class="form-control" name="first_name" required placeholder="Ваше имя">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Фамилия</label>
                        <input type="text" class="form-control" name="last_name" required placeholder="Ваша фамилия">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Пароль</label>
                        <input type="password" class="form-control"
                               name="password" required placeholder="Ваш пароль">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Повторите пароль</label>
                        <input type="password" class="form-control"
                               name="password2" required placeholder="Повторите ваш пароль">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Наименование компании</label>
                        <input type="text" class="form-control"
                               name="company_name" required placeholder="ООО 'Организация'">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Телефон</label>
                        <input type="tel" class="form-control"
                               name="phone_number" required placeholder="+7(922)258-89-89" pattern="[\+]\d{1}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" minlength="18" maxlength="18">
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            <a href="/auth"> Уже есть аккаунт? </a>
        </div>
    </div>
</div>