{% include 'includes/layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <p class="font-weight-bold"> Оборудование {{ current_organization.name_organization }}</p>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Объем</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>

                <tbody>

                {% for dev in devs %}
                <tr class="pointer">
                    <td>{{ loop.index }}</td>
                    <td>{{ dev.dev_name }}</td>
                    <td>{{ dev.dev_volume }}</td>
                    <td>
                        <button onclick="window.location.href='/devs/' +
                         'objects-for-org={{ current_organization.id }}/' +
                         'projects-for-obj={{ object_id }}/' +
                          'devs-for-project={{ project_id }}/' +
                           'edit-dev_id={{ dev.id }}'"
                                type="button" class="btn btn-info">
                            -->
                        </button>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
