{% include 'includes/layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Редактирование данных оборудования
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Наименование оборудования</label>
                        <input type="text" class="form-control" name="dev_name"
                               value="{{ dev.dev_name }}" placeholder="Наименование оборудования"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Объем оборудования, м3</label>
                        <input type="number" min="0" step="1" class="form-control" name="dev_volume"
                               placeholder="Объем оборудования, м3"
                               value="{{ dev.dev_volume }}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Доля заполнения оборудования,-</label>
                        <input type="number" min="0" step="0.1" class="form-control" name="dev_complection"
                               value="{{ dev.dev_complection }}" placeholder="Доля заполнения оборудования,-"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Расход подводящего трубопровода, м3/ч</label>
                        <input type="number" min="0" step="0.01" class="form-control" name="dev_flow"
                               placeholder="Расход  подводящего трубопровода, м3/ч"
                               value="{{ dev.dev_flow }}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Время остановки прокачки, с</label>
                        <input type="number" min="0" step="1" class="form-control" name="dev_shutdown"
                               value="{{ dev.dev_shutdown }}" placeholder="Время остановки прокачки, с"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Давление оборудования, МПа</label>
                        <input type="number" min="0" step="0.1" class="form-control" name="dev_pressure"
                               placeholder="Давление оборудования, МПа"
                               value="{{ dev.dev_pressure }}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Температура оборудования, град С</label>
                        <input type="number" min="-100" step="1" class="form-control" name="dev_temp"
                               value="{{ dev.dev_temp }}" placeholder="Температура оборудования, град С"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Поддон оборудования, м2</label>
                        <input type="number" min="0" step="1" class="form-control" name="dev_spill"
                               placeholder="Поддон оборудования, м2"
                               value="{{ dev.dev_spill }}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Количество погибших, чел</label>
                        <input type="number" min="0" step="1" class="form-control" name="dev_death_man"
                               value="{{ dev.dev_death_man }}" placeholder="Количество погибших, чел"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Количество пострадавших, чел</label>
                        <input type="number" min="0" step="1" class="form-control" name="dev_injured_man"
                               placeholder="Количество пострадавших, чел"
                               value="{{ dev.dev_injured_man }}" required>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6 was-validated">
                        <label>Класс окружающего пространства</label>
                        <select class="custom-select" name="dev_view_space" required>
                            <option value="">Выберите класс пространства</option>
                            {% for index in range(1,5) %}
                            <option {% if dev.dev_view_space | int== index %} selected="selected" {% endif %}
                                    value={{index}}>{{
                                index }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6 was-validated">
                        <select class="custom-select" name="prj_id" required>
                            <option value="">Выберите проект</option>
                            {% for prj in projects %}
                            <option {% if prj.id== project_id %} selected="selected" {% endif %}
                                    value={{prj.id}}>{{ prj.name_project }}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Должен быть выбран проект</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button onclick="delete_device('{{ dev.id }}'); return false;"
                        type="button" class="btn btn-danger">Удалить
                </button>
                <script>
                    function delete_device(dev_id) {
                        if (window.confirm('Оборудование будет удалено?')) {
                            window.location.href = '/devs/delete/' + dev_id;
                        }
                    }
                </script>

            </form>
        </div>
    </div>
</div>