{% include 'includes/layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h6 class="text-left">5. <a href="/devs">Оборудование</a> -> <a
                    href="/devs/org_id={{ current_organization.id }}">опасные производственные объекты {{
                current_organization.name_organization }}</a> -> проекты</h6>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Шифр объекта</th>
                    <th scope="col">Проект</th>
                </tr>
                </thead>

                <tbody>

                {% for project in projects %}
                <tr class="pointer">
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="org_id={{ current_organization.id }}/obj_id={{ obj_id }}/project_id={{ project.id }}">{{ project.name_project }}</a>
                    </td>
                    <td>{{ project.name_project }}</td>
                    <td>{{ project.code_project }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
