{% include 'includes/layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Оборудование пользователя
        </div>
        <div class="card-body">
            <input type="text" id="dev_search" onkeyup="search_func()" placeholder="Поиск проекта..">

            <table class="table table-hover" id="devs_table">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Объем</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>

                <tbody>

                {% for dev in all_devs %}

                <tr class="pointer">
                    <td>{{ loop.index }}</td>
                    <td>{{ dev.dev_name }}</td>
                    <td>{{ dev.dev_volume }}</td>
                    <td>
                        <button onclick="window.location.href='{{ dev.id }}'" type="button" class="btn btn-info">
                            ...
                        </button>
                    </td>
                </tr>

                {% endfor %}

                </tbody>
            </table>


            <script>
                function search_func() {
                    // Объявить переменные
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("dev_search");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("devs_table");
                    tr = table.getElementsByTagName("tr");

                    // Перебирайте все строки таблицы и скрывайте тех, кто не соответствует поисковому запросу
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[1];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>
            <a class="btn btn-primary" href="/projects/add">Добавить новый проект</a>
        </div>
    </div>
</div>