{% include 'includes/layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h6 class="text-left">2. Объекты</h6>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Объекты</th>
                </tr>
                </thead>

                <tbody>

                {% for org in all_organizations %}

                <tr class="pointer">
                    <td>{{ loop.index }}</td>
                    <td><a href="org_id={{ org.id }}">{{ org.name_organization }}</a></td>
                    <td>{{ org.legal_address }}</td>
                    <td>{{ org.telephone }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
            <a class="btn btn-primary" href="/objects/add">Добавить новый объект</a>
        </div>
    </div>
</div>
