{% include 'includes/layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Редактирование данных объекта
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Наименование объекта</label>
                        <input type="text" class="form-control" name="name_object"
                               value="{{ object.name_object }}" placeholder="Наименование объекта"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Адрес объекта</label>
                        <input type="text" class="form-control" name="address_object" placeholder="Адрес объекта"
                               value="{{ object.address_object }}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Рег. номер</label>
                        <input type="text" class="form-control" name="reg_number_object"
                               value="{{ object.reg_number_object }}" placeholder="Рег. номер"
                               required>
                    </div>
                    <div class="form-group col-md-6 was-validated">
                        <label>Класс опасности</label>
                        <select class="custom-select" name="org_id" required>
                            <option value="">Выберите класс опасности</option>
                            {% for index in range(1,5) %}
                            <option {% if object.class_object | int == index %} selected="selected" {% endif %} value={{index}}>{{
                                index }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 was-validated">
                        <select class="custom-select" name="org_id" required>
                            <option value="">Выберите организацию</option>
                            {% for org in all_organizations %}
                            <option {% if org.id== object.org_id %} selected="selected" {% endif %} value={{org.id}}>{{
                                org.name_organization }}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Должна быть выбрана организация</div>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Сохранить</button>

                </script>
            </form>
        </div>
    </div>
</div>